<%= form_with(model: brag_card, local: true) do |form| %>
  <% if brag_card.errors.any? %>
    <div>
      <h2><%= pluralize(brag_card.errors.count, "error") %> prevented saving:</h2>
      <ul>
        <% brag_card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :image, "Image" %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
